<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PolyMonManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<appSettings>
		<add key="SQLConn" value="Data Source=.\SQLEXPRESS;Initial Catalog=PolyMon; Integrated Security=SSPI;"/>
		<add key="ChartMaxDataPts" value="4000"/>
		<add key="SymbolMaxPts" value="100"/>
	</appSettings>
 <userSettings>
  <PolyMonManager.My.MySettings>
   <setting name="StatusRefreshIntervalIndex" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="AudibleAlerts" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AudioAlertFile" serializeAs="String">
    <value>notify.wav</value>
   </setting>
   <setting name="BalloonAlerts" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DashboardViewType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FailuresWarningsViewType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MDIBackColor" serializeAs="String">
    <value>DeepSkyBlue</value>
   </setting>
  </PolyMonManager.My.MySettings>
 </userSettings>
</configuration>
